body {
  text-align:center;
  background-color: #b3ecff;
}

h1 {
  color: #fff;
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  text-align: center;
  font-weight: lighter;
  padding-top: 1rem;
}

.nav {
  list-style: none;
  display: flex;
  flex-flow:column;
  width: 100%;
  background: #b3ecff;
  margin: auto;
}

.nav a{
  text-decoration: none;
  display: flex;
  text-align:center;
}

.nav li{
  width: 100%
}

p {
  color: #b3ecff;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: lighter;
  font-size: 1.2rem;
}

ul {
  margin: .4rem;
  padding: 0.25rem;
  text-align: center;
}

#nav li{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: lighter;
  list-style-type: none;
  float: left;
  width: 25%;
  font-size: 1.4rem;
}

#nav a:link, a:visited {
  display: block;
  color: #00131a;
  background-color: #b3ecff;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 0.25rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: lighter;
}

title {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: lighter;
}

#container{
  width: 95%;
  background-color:#00131a;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

img {
  border-style: none;
  padding-bottom: 1rem;
  width: 35%;
  height: 35%;
}

.main {
  padding-right: 1rem;
}

.header, .main, .aside, {
  flex: 1 100%;
  padding: 10px;
}

.aside {
  text-align: center;
  flex-flow: row wrap;
}

@media (min-width: 800px){

    .nav {
      display: flex;
      flex: 1;
      flex-flow: row;
      justify-content: space-around;
    }

    #nav a:hover, a:active {
      background-color: #fff;
      color: #00131a;
      font-weight: bold;
    }

      .main {
        display: flex;
        flex-flow: row;
        flex: 1;
      }

      img {
        width: 50%;
        height: 50%;
      }

      .aside {
        display: flex;
        flex: 1; auto;
        flex-flow: row wrap;
      }

  }
