body {
  text-align:center;
  background-color: #fff;
}

h1 {
  color: #99004d;
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  text-align: center;
  font-weight: lighter;
  display: flex;
  flex-flow: row;
  margin: 0;
  padding: 0 10px;
  order: 2;
}

h2 {
  color: #000;
  font-family: 'Playfair Display', serif;
  font-size: 1.3rem;
  text-align: center;
  margin: 0;
}

.nav {
  list-style: none;
  display: flex;
  flex-flow:column;
  width: 100%;
  background: #ffe6ee;
  margin: auto;
}

.nav a {
    color: #f8ecc2;
    text-decoration: none;
    padding: 20px 30px;
    display: flex;
    text-align:center;
}

.nav ul{
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: lighter;
  list-style-type: none;
  float: left;
  /*width: 25%;*/
  font-size: 1.4rem;
}

p {
  color: #000;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: lighter;
  font-size: 1.2rem;
}

ul {
  margin: .4rem;
  padding: 0.25rem;
  text-align: center;
}

.nav a:link, a:visited {
  display: block;
  color: #00131a;
  background-color: #ffe6ee;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 0.25rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: lighter;
}

.nav ul li {
    display: block;
    border-top: 1px #000 solid;
}

#container{
  width: 95%;
  background-color:#fff;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

img {
  border-style: none;
  padding-bottom: 1rem;
  width: 35%;
  margin-right: 20px;
}

.main {
  padding-right: 1rem;
}

.main, .aside {
  flex: 1 100%;
  padding: 10px;
}

.footer {
  background-color: #ffe6ee;
  text-align: right;
  color: #99004d;
  font-size: 0.8rem;
}

.aside {
  text-align: center;
  flex-flow: row wrap;
}

.aside-2 {
  display: none;
}

.work {
  color: #fff;
  background-color: #99004d;
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  text-align: left;
  font-weight: lighter;
  margin: 10px;
  padding-left: 10px;
}

.menu-trigger {
    order: 1;
    font-size: 1.75em;
    width: 2em;
}

@media only screen and (min-width: 480px) {

  .menu-trigger {
      display: none;
  }

  .nav ul {
    display: flex;
    flex: 1;
    flex-flow: row;
    justify-content: space-around;
  }

  .nav ul li {
      border-top: none;
  }

  .nav a:hover, a:active {
    background-color: #fff;
    color: #00131a;
    /*font-weight: bold;*/
  }

      .main {
        display: flex;
        flex-flow: row;
        flex: 1;
      }

      img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      }

      .aside {
        display: flex;
        flex: 1 auto;
        flex-flow: row wrap;
      }

      .aside-2 {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: lighter;
        display: inline;
      }

      .aside-1 {
        display: flex;
      }

      .links {
        display: flex;
        flex-flow: row wrap;
        margin: 10px;
        justify-content: center;
        justify-content: space-around;

      }

      #GJ {
        width: 10%;
        height: auto;
      }

      #VOX {
        width: 15%;
        height: auto;
      }

      #Missourian {
        width: 10%;
        height: auto;
      }

      header h1 {
          order: 1;
      }

  }

  @media only screen and (min-width: 1140px) {

    .wrapper {
      width: 1026px;
      margin: 0 auto;
    }

    nav a {
      padding: 25px 1%;
    }

    .aside-2 {
      display: inline;
    }

  }
